.Float {
  background-color: #ffffff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  height: fit-content; /* stylelint-disable-line */
  padding: 20px;
  position: fixed;
  width: fit-content; /* stylelint-disable-line */
  z-index: 4;
}
